.footer {
    width: 100vw;
    height: 4rem;
    background: rgb(40, 40, 40);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
}

body.light .footer {
    background: #f2f2f2;
    font-weight: 400;
    color: black;
}

body.dark .footer {
    background: rgb(50, 50, 50);
    color: white;
    font-weight: 400 ;
}